[Unit]
Description=Celery Beat Schedule
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash -c 'source /apps/checking/venv/bin/activate && /apps/checking/scripts/beat_schedule.sh'

[Install]
WantedBy=multi-user.target


