[Unit]
Description=Celery Worker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/apps/checking/
ExecStart=/bin/bash -c 'source /apps/checking/venv/bin/activate && /apps/checking/scripts/celery_worker.sh'


[Install]
WantedBy=multi-user.target

